* {
    margin: 0;
    padding: 0;
}

:root{
    --Montserrat:Montserrat;
    --secondary-fp:Roboto;
    --white:white;
    --light-grey: #767575;
    --primary-light-grey:#eee;
    --primary-grey: #696973;
    --primary-blue:	#1C39BB;
    --sunglow:#ffcc33;
    --flamingo-orange:#e96630;
    --black:#000000;
    --desert-storm:#F2F2F2;
    --pale-gray:#FDFDFD;
    --light-blue:#e1f0f8;
    --porcelain:#f1f6fb;
    --bright-grey:#3A4855;
    --light-grey:#D7DADF;
    --lapis-blue:#103A8E;
    --limed-spruce:#3A4855;
}

body{
    font-family: var(--Montserrat);
}

/* modal css start here */
#modal-section {
    display: none;
}

#login-form-wrap {
    display: none;
}

#register-form-wrap {
    display: none;
}

.overlay-body {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    z-index: 999;
    position: fixed;
}


.custom-modal {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    z-index: 999;
    opacity: 1;
    transform: translate(-50%,-50%);
    animation: 3s slidein;
    transition: ease-in;
}

@keyframes slidein {
    from {top: 0%;}

    to {
        top: 50%;
    }
}



.modal-wrapper {
    padding: 20px;
}

.mdl-header {
    display: flex;
    justify-content: space-between;
}

.mdl-header span{
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}

.modal-wrapper button {
    border: none;
    background-color: transparent;
}

.modal-wrapper label{
    font-size: 1.2em;
    color: var(--bright-grey);
    font-weight: bold;
}

.modal-wrapper input {
    float: right;
    width: 60%;
    border: 1px solid var(--gray);
    color: var(--bright-grey);
    border-radius: 4px;
    padding: 8px;
}

.username-wrap, .email-wrap, .password-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-wrap, .email-wrap, .password-wrap {
    padding-bottom: 30px;
}

.forgot-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.forgot-wrap button{
    color: var(--primary-blue);
    font-weight: bold;
}

.forgot-wrap button:hover{
    color: #041562;
}

.login-btn-wrap button {
    width: 100%;
    background-color: var(--lapis-blue);
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.login-btn-wrap button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* common css start here */
.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img{
    margin: auto;
}

.common-text{
    font-size: 1.5em;
    font-weight: bold;
}

.common-divider{
    width: 42px;
    background-color: var(--flamingo-orange);
}

.common-tag{
    position: relative;
    overflow: hidden;
}

.card-tag{
    position: absolute;
    top: 5%;
    color: var(--white);
    padding: 0 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.common-tag .left{
    width: 200px;
    transform: rotate(-45deg);
    left: -38px;
    top: 50px;
    background-color: red;
}

.common-tag .left-top{
    left: -58px;
    top: 22px;
    background-color: lightgreen;

}

.common-tag .right{
    right: 2%;
    min-width: 60px;
    background-color: var(--sunglow);
    color: var(--black);
}

.common-tag .top{
    top: 2%;
}

.common-tag .bottom{
    top: 7%;
    background-color:red;
}

.common-btn{
    background-color: var(--lapis-blue);
    border-radius: 5px;
    color: var(--white);
    border: none;
    text-align: center;
}

/* common css end here */

#move_page_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--lapis-blue);
    width: 50px;
    border-radius: 20%;
    border: none;
    z-index: 999;
    height: 50px;
    display: none;
}

#move_page_btn i{
    color: var(--white);
}



/**************************************
 **** Home Section css start here **** 
 **************************************/
.home{
    font-weight: bold;
}

/* Header container .top-nav css */
.top-nav-wrapper{
    padding: 8px 0;
}

.dropdown{
    display: inline;
}

.top-nav{
    font-size: 14px;
}

.top-nav a{
    text-decoration: none;
    color: var(--primary-grey);
}

.top-nav .currency{
    text-align: center;
}

.top-nav .delivery{
    text-align: right;
}

.top-nav-menu a{
    padding-right: 10px;
}

.currency .lang-dropdown{
    padding-right: 10px;
}

.delivery .mome-dropdown{
    padding-right: 10px;
}


/* Header container middel-nav css */
.middel-nav-wrapper{
    background-color: var(--desert-storm);
}

.middel-nav{
    padding: 35px 15px;
    align-items: center;
    justify-content: space-between;
}

.signup-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.signup-container p{
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 5px;
}

.signup-container i{
    font-size: 25px;
}

.middel-nav .cart{
    text-align: right;
    color: var(--primary-grey);
}

.middel-nav .signup{
    width: 19%;
    color: var(--primary-grey);
}

.middel-nav .signup a{
    color: var(--primary-grey);
}

.common-bg{
    background-color: var(--primary-blue);
    color: var(--white);
}

.cart-container span{
    padding-right: 10px;
}

.cart-container a{
    padding: 12px 10px;
    border-radius: 5px;
}

.cart-container a:hover{
    color: #D7DADF;
}

.cart-container a i{
    transition: transform .2s;
}

.cart-container a i:hover{
    transform: scale(1.1);
}

.logo h1{
    font-weight: 1000;
    margin-bottom: 0;
}

.search{
    width: 45%;
}

.search .input-group-prepend .btn:hover{
    color: white;
    opacity: 0.9;
}

.search .input-group-append:hover{
    cursor:pointer;
    opacity: 0.9;
}

.search .input-group-append i{
    transition: transform .2s;
}

.search .input-group-append i:hover{
    transform: scale(1.1);
}

.search .form-control{
    padding: 1.375rem 0.75rem;
}

.compare-div div{
    border-radius: 50px;
    margin: auto;
    border: 2px solid;
    width: 29px;
}

/* header section bottom-nav */
.bottom-nav-wrapper{
    background-color: var(--primary-blue);
}

.bottom-nav span{
    padding: 15px 15px;
    color: white;
    display: inline-block;
}

#menu-span-id{
    background-color: var(--sunglow);
    color: black;
}

#sale-span{
    background-color: var(--flamingo-orange);
    padding: 0px 5px;
    margin-left: 10px;
    bottom: 25px;
    position: relative;
}

#new-span{
    background-color: var(--sunglow);
    padding: 0px 5px;
    position: absolute;
    right: 5px;
    color: black;
    top: -12px;
}

#megamenu-span{
    position: relative;
}

.phone-number{
    text-align: end;
}

.phone-number span:last-child{
    background-color: var(--sunglow);
    color: var(--black);
}


/********** mobile view header css start ************/
.mobile-view-header{
    display: none;
}

.mobile-view-header p{
    margin-bottom: 0;
}

.mv-top-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: lighter;
}

.mobile-view-header .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 12px 15px;
}

.mobile-view-header .mv-top-nav a{
    color: var(--white);
}

.mobile-view-header .mv-bottom-nav a{
    color: var(--black);
}

.mv-signup{
    display: flex;
}

.mv-signup .mv-login-div{
    padding-right: 10px;
}

.mv-signup .mv-register-div{
    padding-left: 10px;
}

.mv-menu i:not(:last-child){
    padding-right: 20px;
}

.mv-menu i{
    font-weight: 600;
}

.mv-currency .currency-dropdown{
    padding-right: 10px;
}
/********** mobile view header css end ************/




/**************************************
 ******* Main css start here ********** 
 **************************************/
.main-section{
    background-color: var(--desert-storm);
}

.home-icon-wrapper{
    background-color: var(--white);
    padding: 8px 0;
}

.home-icon p{
    margin-bottom: 0;
}

.home-icon a{
    color: var(--primary-grey);
    padding-right: 10px;
}

.search-heading-wrapper{
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 30px;
}

.search-heading-container h2{
    font-weight: bold;
    padding-top: 30px;
}

.search-heading-container hr{
    margin-bottom: 0;
    width: 100px;
}

/* main content css  */
.main-content-container{
    display: flex;
}

/* product image section */
.prdt-img-section{
    display: flex;
    flex: 1 1 0px;
    column-gap: 15px;
}

.focused-img-wrapper{
    width: 100%;
}

.multi-img-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100px;
}

.multi-img{
    height: 90px;
}

.focus-img{
    height: 650px;
    /* background-image: url(../image/desktop.png);
    object-fit: contain;
    object-position: center; */
}

.multi-img, .focus-img{
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.multi-img img, .focus-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform .2s;
}

.focus-img img:hover{
    transform: scale(1.2);
}

.multi-img img:hover{
    cursor: pointer;
}

.focus-img:hover{
    cursor: zoom-in;
}

#prdt-image-carousel{
    width: 100%;
}

.carousel-indicators{
    display: none;
}

.carousel-indicators li{
    background-color: var(--flamingo-orange);
    height: 5px;
    width: 25px;
    border-radius: 11px;
}

/* product desccription section */
.prdt-descp-section{
    flex: 1 1 0px;
}

.prdt-descp-wrapper{
    padding-left: 20px;
    padding-bottom: 30px;
}

.prdt-descp-wrapper .detail-grp{
    font-weight: bold;
    color: var(--primary-grey);
    padding-bottom: 8px;
    display: flex;
    column-gap: 15px;
}

.detail-grp span{
    padding-bottom: 8px;
}

.detail-grp span:hover{
    cursor: pointer;
}

.detail-grp .active{
    color: var(--black);
    border-bottom: 2px solid var(--flamingo-orange);
}

.descp-text-wrapper{
    padding: 20px 0;
    color: var(--bright-grey);
    position: relative;
    overflow-y: hidden;
    height: 85px;
}

.descp-text-wrapper::after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 0.8) 90%);
    width: 100%;
    height: 20px;
}

.descp-btn{
    position: absolute;
    bottom: 0;
    background-color: var(--lapis-blue);
    color: var(--white);
    border-radius: 5px;
    padding:5px 10px;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.star-wrapper{
    padding: 20px 0;
}

.write-review a{
    text-decoration: underline;
    padding-left: 10px;
}

.price-stock-wrapper{
    display: flex;
    padding: 20px 0;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
}

.price-wrapper{
    flex: 1 1 0px;
    border-right: 1px solid var(--light-grey);
}

.price-wrapper .original-price{
    font-size: 1.5em;
    color: var(--bright-grey);
    font-weight: bold;
}

.price-wrapper .discount-price{
    font-size: 2em;
    color: rgb(196, 40, 40);
    font-weight: bold;
}

.price-wrapper .offer-price{
    color: var(--primary-grey);
}

.price-wrapper p{
    margin-bottom: 10px;
}

.stock-wrapper{
    flex: 2 2 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.stock-wrapper .stock-left{
    font-size: 14px;
}

.stock-wrapper .in-stock{
    color: green;
    font-weight: bold;
}

.stock-img{
    width: 150px;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
}

.stock-img img{
    width: 100%;
}

.stock-img a{
    text-decoration: underline;
}


.select-wrapper{
    padding-top: 20px;
    border-bottom: 1px solid var(--light-grey);
}

.select-wrapper .select-bottom{
    padding-bottom: 20px;
}

.select-wrapper label span{
    color: red;
}

.select-wrapper label,select{
    display: block;
}

.select-wrapper select{
    padding: 10px;
    width: 220px;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    color: var(--primary-grey);
}

.radio button{
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.radio button:active{
    border: 1px solid black;
}

.single-choice span:not(:first-child){
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--light-grey);
}

.select-wrapper .common-input{
    border: 1px solid var(--light-grey);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

.textarea textarea{
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.file button{
    background-color: var(--lapis-blue);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.select-wrapper .common-calendar{
    background-color: var(--lapis-blue);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

.common-calendar:hover{
    cursor: pointer;
}

.calendar-wrapper{
    display: flex;
    column-gap: 10px;
}

.bottom-btn-grp{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.wl-comp{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--light-grey);
}

.wl-comp:hover{
    cursor: pointer;
}


.bottom-btn-grp img{
    height: 20px;
    width: 20px;
}

.bottom-btn-grp input{
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.bottom-btn-grp button{
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    text-align: center;
    color: var(--white);
}

.bottom-btn-grp .add-cart{
    background-color: var(--lapis-blue);
    width: 60%;
}

.bottom-btn-grp .buy-now{
    background-color: green;
    opacity: 0.9;
    width: 20%;
}

.bottom-btn-grp .que{
    background-color: red;
    width: 10%;
}

.min-quantity{
    background-color: #c0d5eb;
    padding: 8px 0;
}

.min-quantity p{
    margin-bottom: 0;
    padding-left: 15px;
    color: #4879ac;
}

.social-grp{
    padding: 20px 0;
}

.social-grp span{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #a2a4a6;
    color: var(--white);
    position: relative;
    border-radius: 5px;
}

.social-grp span:hover{
    cursor: pointer;
}

.social-grp span i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/********** Main css end here ************/

/**************************************
**** Related product css start here **** 
**************************************/
.related-ppl-bought-wrapper{
    background-color: var(--porcelain);
    padding: 40px 0;
}

.related-ppl-bought-wrapper .common-text{
    color: var(--primary-grey);
    margin-bottom: 0;
    font-size: 1em;
    margin-right: 15px;
    padding-bottom: 10px;
 }

 .related-v-border{
    color: var(--black) !important;
    border-bottom: 1px solid var(--flamingo-orange);
 }

.related-product-wrapper{
    display: flex;
    column-gap: 20px;
}

.people-also-bought-wrapper{
    display: none;
    column-gap: 20px;
}

.related-product-card{
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.related-product-img img{
    width: 300px;
    height: 320px;
    object-position: center;
    object-fit: contain;
}

.related-product-btn{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.related-product-card-content p{
    color: var(--primary-grey);
}

.related-product-card-content p:first-child{
    color: var(--primary-blue);
    padding: 10px 0;
}

.related-product-card-wrapper p{
    margin-bottom: 0;
}

.related-product-btn .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
    padding: 0 5px;
}

.related-product-btn a{
    color: var(--primary-grey);
}

.related-product-wish-compare a{
    padding-right: 20px;
}

.related-ppl-bought-wrapper .common-text:hover{
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  
}

/********** Related product end here ************/



/**************************************
**** Most Viewed css start here **** 
**************************************/
.most-viewed-section{
    background-color: var(--bright-grey);
    padding: 40px 0;
}

.most-viewed-section .common-text{
    color: var(--white);
    margin-bottom: 0;
    font-size: 1em;
    margin-right: 15px;
    padding-bottom: 10px;
}

.most-viewed-section .common-text:hover{
    cursor: pointer;
}

.most-v-border{
    border-bottom: 1px solid var(--flamingo-orange);
}

.recent-view-container{
    display: flex;
}

.most-viewed-divider{
    width: 120px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding:0.1px 0;
    background-color: var(--flamingo-orange);
}

.most-view-product{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
}

#most-view-carousel .owl-item img{
    width: 150px;
    height: 100px;
    object-position: center;
    object-fit: contain;
}

.most-view-product .product-detail{
    padding: 5px 10px;
}

.product-detail p{
    margin-bottom: 0.5em;
}

.product-detail p:first-child{
    font-weight: bold;
    font-size: 0.9em;
}

.product-detail i{
    padding-right: 23px;
    color: var(--primary-grey);
}

.product-img img{
    width: 150px;
    height: 100px;
    object-position: center;
    object-fit: contain;
}

/********** Most Viewed css end here ************/



/**************************************
**** Footer section css start here **** 
**************************************/
.social-wrapper{
    text-align: center;
    padding: 20px 0;
    background-color: var(--desert-storm);
}

.social-container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.logo-container{
    border-radius: 50px;
    height: 56px;
    width: 56px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container i{
    font-size: 35px;
    color: var(--white);
}

.information-container{
    display: flex;
    padding: 2% 0;
    flex-wrap: wrap;
}

.information-link-container{
    width: 25%;
}

.information-link-container:not(:last-child){
    border-right: 1px solid lightgray;
}

.information-link-container:not(:first-child){
    padding-left: 2%;
}

.information-link-container hr{
    width: 15%;
    padding: 0.1px 0;
    background-color: var(--flamingo-orange);
}

.information-link-container:not(:last-child) a{
    display: block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-blue);
}

.information-link-container .newsletter-text{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-grey);
}

.information-link-container .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.information-link-container .input-group{
    max-width: 366px;
}

.agree-terms-checkbox{
    padding-top: 20px;
}

.bottom-footer-wrapper{
    background-color: var(--bright-grey);
    padding: 36px 0;
}

.bottom-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-grey);
}

.bottom-footer-container p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em;
}

.card-brands i{
    padding-right: 10px;
    font-size: 40px;
}
/********** Footer Section css end here ************/




/**************************************
**** Media Query css start here **** 
**************************************/
@media screen and (min-width:1800px) {
    .container{
        max-width: 1620px !important;
    }
}

@media screen and (max-width:1800px) and (min-width:1074px) {
    .container{
        max-width: 90vw;
    }
    
}

@media screen and (max-width:1074px) {
    .container{
        max-width: 966px;
    }
    
}

@media screen and (max-width:1400px) {
    .search{
        width: 35%;
    }
    
    .signup{
        width: 25%;
    }

}

@media screen and (max-width:1200px) {
    .desktop-view-header{
        display: none;
    }

    .mobile-view-header{
        display: block;
    }

    .prdt-descp-wrapper .detail-grp{
        column-gap: 10px;
    }

}

@media screen and (max-width:1200px) and (min-width:992px){
    .prdt-descp-wrapper .detail-grp {
        font-size: 15px;
    }

    .bottom-btn-grp .buy-now{
        width: 10%;
    }

    .buy-now .tgl-btn-grp{
        display: none;
    }

    .price-stock-wrapper{
        flex-direction: column-reverse;
    }

    .price-wrapper{
        border-right: none;
    }
}


@media screen and (max-width:992px) {

    .main-content-container{
        flex-direction: column;
        row-gap: 20px;
    }

    .information-container{
        row-gap: 30px;
    }

    .information-link-container{
        width: 50%;
        border-right: none !important;
    }

    .bottom-footer-container{
        flex-direction: column;
        row-gap: 15px;
    }

}

@media screen and (max-width:768px) {
    .mv-menu i{
        font-size: 1.5em;
    }

    .price-stock-wrapper{
        flex-direction: column-reverse;
    }

    .price-wrapper{
        border-right: none;
    }

    .related-product-img img {
        width: 250px;
        height: 270px;
    }

    .buy-now .tgl-btn-grp{
        display: none;
    }

    .bottom-btn-grp .buy-now{
        width: 10%;
    }

    .multi-img-wrapper{
        height: 550px;
    }

    .focus-img{
        height: 550px;
    }

    .carousel-indicators{
        display: flex;
    }
}

@media screen and (max-width:660px) {
    .most-view-product{
        flex-direction: column;
        row-gap: 18px;
    }

    #most-view-carousel .owl-item img{
        margin: auto;
        height: 150px;
    }

    .related-product-card-content p{
        margin-bottom: 0;
    }
}

@media screen and (max-width:576px) {
    .mv-top-nav{
        font-size: 13px;
    }

    .information-link-container{
        width: 100%;
    }

    .prod-compare, .right-btn-grp label{
        display: none;
    }

    .related-product-img img {
        width: 200px;
        height: 220px;
    }

    .related-product-btn{
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .prdt-descp-wrapper .detail-grp {
        font-size: 15px;
    }

    .tgl-btn-grp{
        display: none;
    }

    .bottom-btn-grp .add-cart, .wl-comp{
        width: auto;
        border-top: none;
    }

    .select-wrapper .common-input{
        width: 100%;
    }
}

@media screen and (max-width:470px){
    .related-product-img img {
        width: 100%;
        height: 320px;
    }

    .prdt-descp-wrapper .detail-grp{
        font-size: 12px;
    }

    .focus-img {
        height: 500px;
    }

    .multi-img-wrapper{
        height: 500px;
    }

    .related-product-wrapper, .people-also-bought-wrapper{
        flex-direction: column;
        row-gap: 20px;
    }

    .mv-top-nav {
        font-size: 12px;
    }
    
}
