* {
    margin: 0;
    padding: 0;
}

:root{
    --Montserrat:Montserrat;
    --secondary-fp:Roboto;
    --white:white;
    --light-grey: #767575;
    --primary-light-grey:#eee;
    --primary-grey: #696973;
    --primary-blue:	#1C39BB;
    --sunglow:#ffcc33;
    --flamingo-orange:#e96630;
    --black:#000000;
    --desert-storm:#F2F2F2;
    --pale-gray:#FDFDFD;
    --light-blue:#e1f0f8;
    --porcelain:#f1f6fb;
    --bright-grey:#3A4855;
    --light-grey:#D7DADF;
    --lapis-blue:#103A8E;
    --limed-spruce:#3A4855;
}

body{
    font-family: var(--Montserrat);
}

/* modal css start here */
#modal-section {
    display: none;
}

#login-form-wrap {
    display: none;
}

#register-form-wrap {
    display: none;
}

.overlay-body {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    z-index: 999;
    position: fixed;
}


.custom-modal {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    z-index: 999;
    opacity: 1;
    transform: translate(-50%,-50%);
    animation: 1.5s slidein;
    transition: ease-in;
}

@keyframes slidein {
    from {top: 0%;}

    to {
        top: 50%;
    }
}



.modal-wrapper {
    padding: 20px;
}

.mdl-header {
    display: flex;
    justify-content: space-between;
}

.mdl-header span{
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}

.modal-wrapper button {
    border: none;
    background-color: transparent;
}

.modal-wrapper label{
    font-size: 1.2em;
    color: var(--bright-grey);
    font-weight: bold;
}

.modal-wrapper input {
    float: right;
    width: 60%;
    border: 1px solid var(--gray);
    color: var(--bright-grey);
    border-radius: 4px;
    padding: 8px;
}

.username-wrap, .email-wrap, .password-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-wrap, .email-wrap, .password-wrap {
    padding-bottom: 30px;
}

.forgot-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.forgot-wrap button{
    color: var(--primary-blue);
    font-weight: bold;
}

.forgot-wrap button:hover{
    color: #041562;
}

.login-btn-wrap button {
    width: 100%;
    background-color: var(--lapis-blue);
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.login-btn-wrap button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* common css start here */
.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img{
    margin: auto;
}

.common-text{
    font-size: 1.5em;
    font-weight: bold;
}

.common-divider{
    width: 42px;
    background-color: var(--flamingo-orange);
}

.common-tag{
    position: relative;
    overflow: hidden;
}

.card-tag{
    position: absolute;
    top: 5%;
    color: var(--white);
    padding: 0 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.common-tag .left{
    width: 200px;
    transform: rotate(-45deg);
    left: -38px;
    top: 50px;
    background-color: red;
}

.common-tag .left-top{
    left: -58px;
    top: 22px;
    background-color: lightgreen;

}

.common-tag .right{
    right: 2%;
    min-width: 60px;
    background-color: var(--sunglow);
    color: var(--black);
}

.common-tag .top{
    top: 5%;
}

.common-tag .bottom{
    top: 15%;
    background-color:red;
}

.common-btn{
    background-color: var(--lapis-blue);
    border-radius: 5px;
    color: var(--white);
    border: none;
    text-align: center;
}

/* common css end here */

#move_page_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--lapis-blue);
    width: 50px;
    border-radius: 20%;
    border: none;
    z-index: 999;
    height: 50px;
    display: none;
}

#move_page_btn i{
    color: var(--white);
}



/**************************************
 **** Home Section css start here **** 
 **************************************/
 .home{
    font-weight: bold;
}

/* Header container .top-nav css */
.top-nav-wrapper{
    padding: 8px 0;
}

.dropdown{
    display: inline;
}

.top-nav{
    font-size: 14px;
}

.top-nav a{
    text-decoration: none;
    color: var(--primary-grey);
}

.top-nav .currency{
    text-align: center;
}

.top-nav .delivery{
    text-align: right;
}

.top-nav-menu a{
    padding-right: 10px;
}

.currency .lang-dropdown{
    padding-right: 10px;
}

.delivery .mome-dropdown{
    padding-right: 10px;
}


/* Header container middel-nav css */
.middel-nav-wrapper{
    background-color: var(--desert-storm);
}

.middel-nav{
    padding: 35px 15px;
    align-items: center;
    justify-content: space-between;
}

.signup-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.signup-container p{
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 5px;
}

.signup-container i{
    font-size: 25px;
}

.signup-container a{
    text-decoration: none;
}

.middel-nav .cart{
    text-align: right;
    color: var(--primary-grey);
}

.middel-nav .signup{
    width: 19%;
    color: var(--primary-grey);
}

.middel-nav .signup a{
    color: var(--primary-grey);
}

.common-bg{
    background-color: var(--primary-blue);
    color: var(--white);
}

.cart-container span{
    padding-right: 10px;
}

.cart-container a{
    padding: 12px 10px;
    border-radius: 5px;
}

.cart-container a:hover{
    color: #D7DADF;
}

.cart-container a i{
    transition: transform .2s;
}

.cart-container a i:hover{
    transform: scale(1.1);
}

.logo h1{
    font-weight: 1000;
    margin-bottom: 0;
}

.search{
    width: 45%;
}

.search .input-group-prepend .btn:hover{
    color: white;
    opacity: 0.9;
}

.search .input-group-append:hover{
    cursor:pointer;
    opacity: 0.9;
}

.search .input-group-append i{
    transition: transform .2s;
}

.search .input-group-append i:hover{
    transform: scale(1.1);
}

.search .form-control{
    padding: 1.375rem 0.75rem;
}

.compare-div div{
    border-radius: 50px;
    margin: auto;
    border: 2px solid;
    width: 29px;
}

.login-div:hover, .register-div:hover, .wishlist-div:hover, .compare-div:hover{
    transform: scale(1.1);
}

.wishlist-div, .ac-div {
    position: relative;
}

.wl-number, .ac-number {
    position: absolute;
    top: 0;
    right: 4px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
}

.cart-container .ac-number {
    top: -5px;
    right: 0;
}

/* header section bottom-nav */
.bottom-nav-wrapper{
    background-color: var(--primary-blue);
}

.bottom-nav span{
    padding: 15px 15px;
    color: white;
    display: inline-block;
}

#menu-span-id{
    background-color: var(--sunglow);
    color: black;
}

#sale-span{
    background-color: var(--flamingo-orange);
    padding: 0px 5px;
    margin-left: 10px;
    bottom: 25px;
    position: relative;
}

#new-span{
    background-color: var(--sunglow);
    padding: 0px 5px;
    position: absolute;
    right: 5px;
    color: black;
    top: -12px;
}

#megamenu-span{
    position: relative;
}

.phone-number{
    text-align: end;
}

.phone-number span:last-child{
    background-color: var(--sunglow);
    color: var(--black);
}


/********** mobile view header css start ************/
.mobile-view-header{
    display: none;
}

.mobile-view-header p{
    margin-bottom: 0;
}

.mv-top-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: lighter;
}

.mobile-view-header .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 12px 15px;
}

.mobile-view-header .mv-top-nav a{
    color: var(--white);
}

.mobile-view-header .mv-bottom-nav a{
    color: var(--black);
}

.mv-signup{
    display: flex;
}

.mv-signup .mv-login-div{
    padding-right: 10px;
}

.mv-signup .mv-register-div{
    padding-left: 10px;
}

.mv-menu i:not(:last-child){
    padding-right: 20px;
}

.mv-menu i{
    font-weight: 600;
}

.mv-currency .currency-dropdown{
    padding-right: 10px;
}

.mv-login-div:hover, .mv-register-div:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 5px;
    border: black solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/********** mobile view header css end ************/



/**************************************
**** Main section css start here **** 
**************************************/
.main-section{
    background-color: var(--desert-storm);
}

.main-content-container{
    display: flex;
}

.home-icon-wrapper{
    background-color: var(--white);
    padding: 8px 0;
}

.home-icon p{
    margin-bottom: 0;
}

.search-heading-wrapper{
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 30px;
}

.search-heading-container h2{
    font-weight: bold;
    padding-top: 30px;
}

.search-heading-container hr{
    margin-bottom: 0;
    width: 100px;
}

/* main left filter css start here */
.filter{
    border-right: 1px solid var(--light-grey);
}
.main-content-container .filter{
    padding-right: 30px;
    max-width: 20%;
}

.filter-clear-div{
    display: flex;
    justify-content: space-between;
}

.filter-tag{
    font-weight: bold;
}

.filter-section{
    padding: 20px 0;
    border-bottom: 1px solid var(--light-grey);
}

.filter-section-heading{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.filter-section a{
    color: var(--primary-grey);
    text-decoration: none;
}

.range-input {
    position: relative;
    height: 15px;
  }

.range-input input {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  background: none;
  pointer-events: none;
  background-color: #103A8E;
}

.range-input input:hover{
    cursor: pointer;
}

.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
}

.slide{
    overflow: hidden;
    transition: all .5s ease-in-out;
    height:auto;
}

.open{
    transform:scaleY(1);
    transform-origin:top;
}

.closed{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.line-circle{
    border-bottom: 2px solid var(--lapis-blue); 
    padding-bottom: 15px; 
    position: relative;
}

.line-circle:before, 
.line-circle:after {
    position: absolute; 
    bottom: -6px; 
    left: 0; 
    height: 10px; 
    width: 10px; 
    background: var(--lapis-blue); 
    content: ""; 
    border-radius: 5px;
}

.line-circle:after {
    right: 0; 
    left: auto;
}

.price-input{
    padding-top: 20px;
    display: flex;
}

.price-input input{
    width: 70%;
    text-align: center;
}

.price-input div:last-child{
    text-align: right;
}


.slide .subcat-content{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.subcat-content div{
    height: 50px;
}

.subcat-content div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide-brand, .color-div{
    display: flex;
    column-gap: 10px;
}

.slide-brand img{
    height: 50px;
    width: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
}

.color-div div{
    height: 50px;
    width: 50px;
}
/***** main left filter css end here *****/



/***** all-item-list css start here *****/
.main-content-container .all-item-list{
    width: 80%;
    padding-left: 30px;
}

.search-input{
    display: flex;
    column-gap: 10px;
}

.search-input-child{
    border: 1px solid var(--light-grey);
    padding: 8px;
    color: var(--primary-grey);
    background-color: var(--white);
    border-radius: 5px;
}

.search-input input{
    width: 60%;
}

.search-input select{
    width: 40%;
}

.search-form .search-btn{
    width: 100%;
    padding: 8px 0;
}

.searched-item-title{
    border-bottom: 1px solid var(--light-grey);
    padding-top: 15px;
    font-weight: bold;
}

.search-input-checkbox{
    padding: 15px 0;
}

.button-grp{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid var(--light-grey);
    align-items: center;
}

.left-btn-grp:hover{
    cursor: pointer;
}

.left-btn-grp img{
    bottom: 2px;
    position: relative;
    height: 17px;
    width: 19px;
    padding-right: 5px;
}

.search-compare-cicle{
    height: 25px;
    width: 25px;
    border: 2px solid var(--lapis-blue);
    border-radius: 50%;
    display: inline-block;
    color: var(--lapis-blue);
    text-align: center;
    margin-left: 10px;
}

.prod-compare{
    color: var(--lapis-blue);
}

.right-btn-grp{
    display: flex;
    column-gap: 15px;
    color: var(--primary-grey);
}

.right-btn-grp label{
    background-color: var(--light-grey);
    text-align: center;
    margin-right: -4px;
    padding: 5px;
    border-radius: 3px 0 0 3px;
}

.right-btn-grp select{
    border: 1px solid var(--light-grey);
    border-left: 0;
    padding: 5px;
    color: var(--primary-grey);
    border-radius: 0 3px 3px 0;
}

#sort-by{
    width: 150px;
}


/* searched card item css start here */
.search-card-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.searched-item-div{
    padding: 40px 0;
    border-bottom: 1px solid var(--light-grey);
}

.searched-item-div p{
    margin-bottom: 0;
}

#searched-card-div-id{
    column-gap: 15px;
    display: grid;
    row-gap: 20px;
}

.searched-card-gd{
    grid-template-columns: repeat(3, 1fr);
}

.common-search{
    display: flex;
}

.searched-card-grid{
    overflow: hidden;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid var(--light-grey);
}

.search-card-img{
    background-color: var(--white);
    position: relative;
    height: 400px;
    width: 100%;
}

.search-card-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
 }


.search-seller{
    width: 100%;
    background-color: var(--porcelain);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    color: var(--primary-grey);
 }
 
.common-search a{
     color: var(--primary-grey);
 }

 .top-title a{
    color: var(--primary-blue);
    text-decoration: underline;
 }

 .searched-card-grid .search-seller a{
    text-decoration: underline;
}
 
.search-details{
    width: 100%;
    background-color: var(--white);
    padding: 20px 10px;
}

.search-card-title{
    font-weight: bold;
    color: var(--black) !important;
    padding-bottom: 10px;
}

.search-details p{
    color: var(--primary-grey);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  
}

.search-button{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.search-add-cart .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.search-add-cart input{
    height: 100%;
    border: 1px solid var(--light-grey);
    text-align: center;
}

.search-wishlist i{
    color: var(--primary-grey);
}

.search-wishlist a:first-child{
    padding-right: 15px;
}

.search-buy-now{
    width: 100%;
    background-color: var(--porcelain);
    padding:20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-buy-now a:first-child i{
    border: 2px solid green;
    border-radius: 12px;
    color: green;
    width: 19px;
    text-align: center;
}

.search-buy-now a:last-child i{
    color: red;
 }

 .searched-card-grid .search-card-bottom-list{
    display: none;
}

/* card list view start here */
.searched-card-list{
    flex-direction: row
}

.searched-card-li{
    grid-template-columns: repeat(1, 1fr);
}

.searched-card-list .search-card-img{
    max-width: 400px;
    min-width: 300px;
    height: 340px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.searched-card-list .search-card-bottom-list{
    display: block;
    padding: 0 15px;
}

.searched-card-list .search-card-bottom{
    display: none;
}

.top-title span:first-child{
    padding-right: 20px;
}

.search-card-bottom-list .search-buy-now{
    justify-content: flex-start;
    background-color: var(--desert-storm);
    column-gap: 10px;
    padding: 20px 0;
}

.search-card-bottom-list .search-card-title{
    font-size: 2em;
}

.search-desc{
    padding: 10px 0;
}

.search-button-list{
    display: flex;
    column-gap: 10px;
    padding: 10px 0;
}

.search-button-list input{
    border: 1px solid var(--primary-grey);
    text-align: center;
}

.search-button-list div{
    border: 1px solid var(--bright-grey);
    border-radius: 5px;
    width: 40px;
    position: relative;
}

.search-button-list div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.search-button-list button{
    background-color: var(--lapis-blue);
    color: var(--white);
    padding: 8px 10px;
    border: none;
    border-radius: 5px;

}

.search-price-container{
    font-weight: bold;
    color: var(--primary-grey);
}

.search-price{
    padding-bottom: 5px;
}

.search-price span:first-child{
    font-size: 1.4em;
    padding-right: 5px;
}

.search-price-container p:nth-child(2){
    font-size: 14px;
}
/**** searched item card section end here ****/

.pagination-link-wrap {
    display: flex;
    column-gap: 20px;
    padding: 20px 0;
    justify-content: center;
}

.pagination-link-wrap button {
    width: 30px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    background-color: var(--white);
}

 .bottom-text{
    text-align: center;
    padding: 20px 0;
 }

/********** Main section css end ************/




/**************************************
**** Most Viewed css start here **** 
**************************************/
.most-viewed-section{
    background-color: var(--bright-grey);
    padding: 40px 0;
}

.most-viewed-section .common-text{
    color: var(--white);
    margin-bottom: 0;
    font-size: 1em;
    margin-right: 15px;
    padding-bottom: 10px;
}

.most-viewed-section .common-text:hover{
    cursor: pointer;
}

.most-v-border{
    border-bottom: 1px solid var(--flamingo-orange);
}

.recent-view-container{
    display: flex;
}

.most-viewed-divider{
    width: 120px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding:0.1px 0;
    background-color: var(--flamingo-orange);
}

.most-view-product{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
}

#most-view-carousel .owl-item img{
    width: 150px;
    height: 100px;
    object-position: center;
    object-fit: contain;
}

.most-view-product .product-detail{
    padding: 5px 10px;
}

.product-detail p{
    margin-bottom: 0.5em;
}

.product-detail p:first-child{
    font-weight: bold;
    font-size: 0.9em;
}

.product-detail i{
    padding-right: 23px;
    color: var(--primary-grey);
}

.product-img img{
    width: 150px;
    height: 100px;
    object-position: center;
    object-fit: contain;
}

/********** Most Viewed css end here ************/



/**************************************
**** Footer section css start here **** 
**************************************/
.social-wrapper{
    text-align: center;
    padding: 20px 0;
    background-color: var(--desert-storm);
}

.social-container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.logo-container{
    border-radius: 50px;
    height: 56px;
    width: 56px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container i{
    font-size: 35px;
    color: var(--white);
}

.information-container{
    display: flex;
    padding: 2% 0;
    flex-wrap: wrap;
}

.information-link-container{
    width: 25%;
}

.information-link-container:not(:last-child){
    border-right: 1px solid lightgray;
}

.information-link-container:not(:first-child){
    padding-left: 2%;
}

.information-link-container hr{
    width: 15%;
    padding: 0.1px 0;
    background-color: var(--flamingo-orange);
}

.information-link-container:not(:last-child) a{
    display: block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-blue);
}

.information-link-container .newsletter-text{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-grey);
}

.information-link-container .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.information-link-container .input-group{
    max-width: 366px;
}

.agree-terms-checkbox{
    padding-top: 20px;
}

.bottom-footer-wrapper{
    background-color: var(--bright-grey);
    padding: 36px 0;
}

.bottom-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-grey);
}

.bottom-footer-container p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em;
}

.card-brands i{
    padding-right: 10px;
    font-size: 40px;
}
/********** Footer Section css end here ************/



/**************************************
**** Media Query css start here **** 
**************************************/
@media screen and (min-width:1800px) {
    .container{
        max-width: 1620px !important;
    }
}

@media screen and (max-width:1800px) and (min-width:1074px) {
    .container{
        max-width: 90vw;
    }
    
}

@media screen and (max-width:1074px) {
    .container{
        max-width: 966px;
    }
    
}

@media screen and (max-width:1400px) {
    .search{
        width: 35%;
    }
    
    .signup{
        width: 25%;
    }

    .searched-card-list .search-card-img {
        height: 100%;
    }
}

@media screen and (max-width:1200px) {
    .desktop-view-header{
        display: none;
    }

    .mobile-view-header{
        display: block;
    }

    .searched-card-gd{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:992px) {

    .information-container{
        row-gap: 30px;
    }

    .information-link-container{
        width: 50%;
        border-right: none !important;
    }

    .bottom-footer-container{
        flex-direction: column;
        row-gap: 15px;
    }

    .filter{
        display: none;
    }

    
    .main-content-container .all-item-list{
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width:768px) {
    .mv-menu i{
        font-size: 1.5em;
    }
}

@media screen and (max-width:660px) {
    .most-view-product{
        flex-direction: column;
        row-gap: 18px;
    }

    #most-view-carousel .owl-item img{
        margin: auto;
        height: 150px;
    }
}

@media screen and (max-width:576px) {
    .mv-top-nav{
        font-size: 13px;
    }

    .information-link-container{
        width: 100%;
    }

    .prod-compare, .right-btn-grp label{
        display: none;
    }

    .searched-card-gd{
        grid-template-columns: repeat(1, 1fr);
    }

    .searched-card-list{
        flex-direction: column;
        row-gap: 10px;
    }

    .searched-card-list .search-card-img{
        min-width: 100%;
        height: 390px;
    }

    .searched-card-list .search-card-bottom-list{
        padding: 0px;
    }
}