*{
    margin: 0;
    padding: 0;
}

:root{
    --Montserrat:Montserrat;
    --secondary-fp:Roboto;
    --white:white;
    --primary-light-grey:#eee;
    --primary-grey: #696973;
    --primary-blue:	#1C39BB;
    --sunglow:#ffcc33;
    --flamingo-orange:#e96630;
    --black:#000000;
    --desert-storm:#F2F2F2;
    --pale-gray:#FDFDFD;
    --light-blue:#e1f0f8;
    --porcelain:#f1f6fb;
    --bright-grey:#3A4855;
    --light-grey:#D7DADF;
    --lapis-blue:#103A8E;
    --limed-spruce:#3A4855;
    --semi-light-grey:#a2a7b0;
}

body{
    font-family: var(--Montserrat);
}

#move_page_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--lapis-blue);
    width: 50px;
    border-radius: 20%;
    border: none;
    z-index: 999;
    height: 50px;
    display: none;
}

#move_page_btn i{
    color: var(--white);
}


/* modal css start here */
#modal-section {
    display: none;
}

#login-form-wrap {
    display: none;
}

#register-form-wrap {
    display: none;
}

.overlay-body {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    z-index: 999;
    position: fixed;
}


.custom-modal {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    z-index: 999;
    opacity: 1;
    transform: translate(-50%,-50%);
    animation: 1.5s slidein;
    transition: ease-in;
}

@keyframes slidein {
    from {top: 0%;}

    to {
        top: 50%;
    }
}



.modal-wrapper {
    padding: 20px;
}

.mdl-header {
    display: flex;
    justify-content: space-between;
}

.mdl-header span{
    font-weight: bold;
    font-size: 1.4em;
    color: black;
}

.modal-wrapper button {
    border: none;
    background-color: transparent;
}

.modal-wrapper label{
    font-size: 1.2em;
    color: var(--bright-grey);
    font-weight: bold;
}

.modal-wrapper input {
    float: right;
    width: 60%;
    border: 1px solid var(--gray);
    color: var(--bright-grey);
    border-radius: 4px;
    padding: 8px;
}

.username-wrap, .email-wrap, .password-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-wrap, .email-wrap, .password-wrap {
    padding-bottom: 30px;
}

.forgot-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.forgot-wrap button{
    color: var(--primary-blue);
    font-weight: bold;
}

.forgot-wrap button:hover{
    color: #041562;
}

.login-btn-wrap button {
    width: 100%;
    background-color: var(--lapis-blue);
    padding: 8px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
}

.login-btn-wrap button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/**************************************
 **** Common class css start here **** 
 **************************************/
.common-heading{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.common-divider{
    width: 60px;
    margin: auto;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.common-desc{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0 40px 0;
    color: var(--primary-grey);
}

.btn-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.btn-container .btn{
    font-weight: bold;
    padding: 10px 10px;
    min-width: 164px;
    position: relative;
    color: var(--primary-grey);
    background-color: var(--primary-light-grey);
}

.btn-container .active{
    background-color: var(--primary-blue);
    color: var(--white);
}

.btn-container .active:after{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px var(--primary-blue);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}


.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img{
    margin: auto;
}

.common-text{
    font-size: 1.5em;
    font-weight: bold;
}

.common-tag{
    position: relative;
    overflow: hidden;
}

.card-tag{
    position: absolute;
    top: 5%;
    color: var(--white);
    padding: 0 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.common-tag .left{
    width: 200px;
    transform: rotate(-45deg);
    left: -38px;
    top: 50px;
    background-color: red;
}

.common-tag .left-top{
    left: -58px;
    top: 22px;
    background-color: lightgreen;

}

.common-tag .right{
    right: 2%;
    min-width: 60px;
    background-color: var(--sunglow);
    color: var(--black);
}

.common-tag .top{
    top: 5%;
}

.common-tag .bottom{
    top: 15%;
    background-color:red;
}

.owl-dot.active span{
    background-color: var(--flamingo-orange) !important;
}

.common-desc a{
    color: var(--lapis-blue);
    text-decoration: underline;
    font-weight: bold;
}

.btn-container .btn:not(:last-child){
    border-right: 1px solid var(--light-grey);
}
/********** Common class css end here ************/



/**************************************
 **** Home Section css start here **** 
 **************************************/
.home{
    font-weight: bold;
}

/* Header container .top-nav css */
.top-nav-wrapper{
    padding: 8px 0;
}

.dropdown{
    display: inline;
}

.top-nav{
    font-size: 14px;
}

.top-nav a{
    text-decoration: none;
    color: var(--primary-grey);
}

.top-nav .currency{
    text-align: center;
}

.top-nav .delivery{
    text-align: right;
}

.top-nav-menu a{
    padding-right: 10px;
}

.currency .lang-dropdown{
    padding-right: 10px;
}

.delivery .mome-dropdown{
    padding-right: 10px;
}


/* Header container middel-nav css */
.middel-nav-wrapper{
    background-color: var(--desert-storm);
}

.middel-nav{
    padding: 35px 15px;
    align-items: center;
    justify-content: space-between;
}

.signup-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.signup-container:hover{
    cursor: pointer;
}

.signup-container p{
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 5px;
}

.signup-container i{
    font-size: 25px;
}

.signup-container a{
    text-decoration: none;
}

.middel-nav .cart{
    text-align: right;
    color: var(--primary-grey);
}

.middel-nav .signup{
    width: 19%;
    color: var(--primary-grey);
}

.middel-nav .signup a{
    color: var(--primary-grey);
}

.common-bg{
    background-color: var(--primary-blue);
    color: var(--white);
}

.cart-container span{
    padding-right: 10px;
}

.cart-container a{
    padding: 12px 10px;
    border-radius: 5px;
}

.cart-container a:hover{
    color: #D7DADF;
}

.cart-container a i{
    transition: transform .2s;
}

.cart-container a i:hover{
    transform: scale(1.1);
}

.logo h1{
    font-weight: 1000;
    margin-bottom: 0;
}

.search{
    width: 45%;
}

.search .input-group-prepend .btn:hover{
    color: white;
    opacity: 0.9;
}

.search .input-group-append:hover{
    cursor:pointer;
    opacity: 0.9;
}

.search .input-group-append i{
    transition: transform .2s;
}

.search .input-group-append i:hover{
    transform: scale(1.1);
}

.search .form-control{
    padding: 1.375rem 0.75rem;
}

.compare-div div{
    border-radius: 50px;
    margin: auto;
    border: 2px solid;
    width: 29px;
}

.login-div:hover, .register-div:hover, .wishlist-div:hover, .compare-div:hover{
    transform: scale(1.1);
}

/* header section bottom-nav */
.bottom-nav-wrapper{
    background-color: var(--primary-blue);
}

.bottom-nav span{
    padding: 15px 15px;
    color: white;
    display: inline-block;
}

#menu-span-id{
    background-color: var(--sunglow);
    color: black;
}

#sale-span{
    background-color: var(--flamingo-orange);
    padding: 0px 5px;
    margin-left: 10px;
    bottom: 25px;
    position: relative;
}

#new-span{
    background-color: var(--sunglow);
    padding: 0px 5px;
    position: absolute;
    right: 5px;
    color: black;
    top: -12px;
}

#megamenu-span{
    position: relative;
}

.phone-number{
    text-align: end;
}

.phone-number span:last-child{
    background-color: var(--sunglow);
    color: var(--black);
}


/* home banner css */
.home-banner{
    background-color: var(--pale-gray);
    padding: 20px 0px;
}

.home-banner-c_inner{
    height: 100%;
    border-radius: 15px;
}

.home-banner-c_inner img{
    height: 500px;
    object-fit: contain;
    object-position: right;
}

.home-banner-c_item{
    background-color: var(--porcelain);
    height: 100%;
    position: relative;
}

.overlay-home-img{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--porcelain);
    z-index: 9;
    opacity: 0.3;
    display: none;
}

#myCarousel{
    height: 100%;
}

.carousel-indicators{
    justify-content: start;
    margin-left: 5%;
}

.carousel-indicators li{
    background-color: var(--flamingo-orange);
    height: 5px;
    width: 25px;
    border-radius: 11px;
}

.carousel-caption{
    left: 5%;
    text-align: left;
    font-family: var(--Montserrat);
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.carousel-caption h2{
    color: var(--black);
    font-weight: bold;
    font-size: 42px;
    padding: 15px 0;
    font-family:var(--secondary-fp);
}

.carousel-caption .btn-title{
    background-color: var(--primary-blue);
    color: var(--white);
}

.side-banner-img{
    width: 100%;
    text-align: end;
    position: relative;
    background-color: var(--porcelain);
    border-radius: 15px;
}

.side-banner-img img{
    height: 250px;
    object-fit: contain;
    object-position: right;
}

.side-banner-text{
    position: absolute;
    top: 50%;
    text-align: left !important;
    transform: translateY(-50%);
    width: 50%;
    left: 5%;
    z-index: 99;
}

.side-banner-text p{
    font-weight: bold;
    font-size: 1.4em;
}

.side-up-banner{
    padding-bottom: 15px;
}

.side-down-banner{
    padding-top: 15px;
}


/* bottom bar css */
.home-bottom-bar{
    background-color: var(--bright-grey);
    padding: 40px 0;
}

.bottom-bar-element{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    height: 70px;
}

.element-icon-container{
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid var(--primary-blue);
    border-radius: 50px;
    color: var(--flamingo-orange);
}

.element-icon-container i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.element-text{
    padding-left: 15px;
}

.element-text p:first-child{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.element-text p:last-child{
    margin: 0;
    color: var(--primary-grey);
    font-weight: bold;
}
/********** Home section css end here ************/


/********** mobile view header css start ************/
.mobile-view-header{
    display: none;
}

.mobile-view-header p{
    margin-bottom: 0;
}

.mv-top-nav{
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: lighter;
}

.mobile-view-header .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 12px 15px;
}

.mobile-view-header .mv-top-nav a{
    color: var(--white);
}

.mobile-view-header .mv-bottom-nav a{
    color: var(--black);
}

.mv-signup{
    display: flex;
}

.mv-signup .mv-login-div{
    padding-right: 10px;
}

.mv-signup .mv-register-div{
    padding-left: 10px;
}

.mv-menu i:not(:last-child){
    padding-right: 20px;
}

.mv-menu i{
    font-weight: 600;
}

.mv-currency .currency-dropdown{
    padding-right: 10px;
}

.mv-login-div:hover, .mv-register-div:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 5px;
    border: black solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/********** mobile view header css end ************/



/**************************************
 **** Why Buy section css start here **** 
 **************************************/
.why-buy{
    padding: 70px 0;
}


/* why buy owl carousel css */
.top-category{
    padding: 40px 0 20px 0;
}

#top-category-carousel .owl-item img{
    width: 95%;
    height: 400px;
    object-position: center;
    border-radius: 10px;
    object-fit: cover;
}

.top-category-item{
    position: relative;
}

.top-category-btn{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.top-category-btn .btn{
    background-color: var(--pale-gray);
    color: var(--black);
    font-weight: bold;
}
/********** Why Buy section css end here ************/



/**************************************
**** Featured Product section css start here **** 
**************************************/
.featured-products{
   background-color: var(--desert-storm);
   padding: 70px 0;
}

#featured-product-carousel{
    padding-top: 40px;
}

#featured-product-carousel .owl-item img{
    width: 95%;
    height: 350px;
    object-position: center;
    object-fit: contain;
}

.featured-products-card{
   width: 95%;
   overflow: hidden;
   border-radius: 10px;
   margin: auto;
   border: 1px solid lightgrey;
}

.fp-card-img{
   width: 100%;
   background-color: var(--white);
   position: relative;
}



.featured-products-card .fp-seller{
   width: 100%;
   background-color: var(--porcelain);
   display: flex;
   justify-content: space-between;
   padding: 10px;
   align-items: center;
   color: var(--primary-grey);
}

.fp-seller p{
    margin-bottom: 0;
}

.featured-products-card a{
    color: var(--primary-grey);
}

.featured-products-card .fp-details{
    width: 100%;
    background-color: var(--white);
    padding: 18px 10px;
}

.featured-products-card .fp-details p:first-child{
    font-weight: bold;
    color: var(--black);
}

.featured-products-card .fp-details p{
    color: var(--primary-grey);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.fp-button{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.fp-add-cart .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.fp-add-cart input{
    height: 100%;
    border: 1px solid var(--light-grey);
    text-align: center;
}

.fp-wishlist i{
    color: var(--primary-grey);
}

.fp-wishlist a:first-child{
    padding-right: 15px;
}

.fp-buy-now{
    width: 100%;
    background-color: var(--porcelain);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fp-buy-now a:first-child i{
    border: 2px solid green;
    border-radius: 12px;
    color: green;
    width: 19px;
    text-align: center;
}

.fp-buy-now a:last-child i{
    color: red;
}

.featured-products .see-all-container{
    text-align: center;
    padding-top: 20px;
}

.featured-products .see-all{
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 12px 18px;
}

/********** Featured Products section css end here ************/



/****************************************
*Featured Category section css start here* 
******************************************/
.featured-category{
    background-color: var(--porcelain);
    padding: 70px 0;
}

.featured-category-fashion{
    display: flex;
    padding-top: 30px;
    font-weight: bold;
}

.featured-category .fashion{
    width: 20%;
    background-color: var(--light-grey);
}

.fashion-wrapper{
    padding: 20px;
}

.fashion-wrapper p:not(:first-child){
    color: var(--primary-grey);
}

.fashion-img img{
    width: 100%;
    object-position: top;
    object-fit: cover;
    height: 320px;
    border-radius: 5px;
}

.featured-category .new-fashion{
    width: 80%;
    background-color: var(--white);
}

.new-fashion-wrapper{
    padding: 20px;
}

.new-fashion-card{
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.new-fashion-btn{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#new-fashion-carousel .owl-item img{
    width: 100%;
    height: 320px;
    object-position: top;
    object-fit: cover;
}

#new-fashion-carousel .item{
    padding-right: 10px;
}

.fashion-img{
    padding-bottom: 10px;
}

.new-fashion-card-content p{
    color: var(--primary-grey);
}

.new-fashion-card-content p:first-child{
    color: var(--primary-blue);
    padding: 10px 0;
}

.new-fashion-card-wrapper p{
    margin-bottom: 0;
}

.new-fashion-btn .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
    padding: 0 5px;
}

.new-fashion-btn a{
    color: var(--primary-grey);
}

.new-fashion-wish-compare a{
    padding-right: 20px;
}

.fashion hr{
    width: 100px;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.new-fashion .new-fashion-divider{
    width: 75px;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}
/********** Featured Category section css end here ************/



/**************************************
 **** Shop By Brand css start here **** 
 **************************************/
.shop-by-brand{
    padding: 70px 0;
}

#shop-brand-carousel .owl-item img{
    width: 100%;
    height: 160px;
    object-position: center;
    border-radius: 10px;
    object-fit: contain;
    filter: grayscale(100%);
}

#shop-brand-carousel{
    padding-top: 40px;
}

#shop-brand-carousel .item{
    padding: 0 8px;
}

.shop-brand-img{
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}
/********** Shop By Brand css end here ************/



/**************************************
**** Gallery Module css start here **** 
**************************************/
.gallery-module{
    padding: 70px 0;
    background-color: var(--bright-grey);
    color: white;
}

.gallery-module .common-desc{
    color: var(--semi-light-grey);
    font-weight: bold;
}

.gallery-container{
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;justify-content: center;
    align-items: center;
}

.gallery-img{
    height: 160px;
    width: 160px;
    padding: 10px 10px;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
/********** Gallery Module css end here ************



/**************************************
**** From Our Blog css start here **** 
**************************************/
.our-blog{
    padding:70px 0;
    background-color: var(--porcelain);
}

#our-blog-cards{
    padding-top: 40px;
}

#our-blog-cards .owl-item img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.blog-card-wrapper{
    height: 600px;
    padding: 0 10px;
}

.blog-card-header{
    height: 50%;
    position: relative;
}


.blog-card-header p{
    position: absolute;
    top: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 56px;
    left: 5px;
    background-color: var(--lapis-blue);
    color: white;
}

.blog-card-header .blog-card-button{
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.blog-card-button span{
    padding: 0 10px;
}

.blog-card-container{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.blog-card-content{
    background-color: var(--white);
    text-align: center;
    padding: 0 15px;
    height: 50%;
    color: var(--primary-grey);
}

.blog-card-content p:first-child{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
    color: var(--black);
}

.blog-card-content p:nth-child(2){
    height: 62%;
    overflow: hidden;
}

.blog-card-content a{
    color: var(--primary-grey);
}
/********** From Our Blog css end here ************



/**************************************
**** People Feedback css start here **** 
**************************************/
.feedback-section{
    padding: 70px 0 30px 0;
}

#feedback-carousel .owl-item img{
    width: 20%;
    margin: auto;
}

#feedback-carousel{
    padding-top: 40px;
}

#feedback-carousel .owl-dots{
    padding-top: 40px;
}

.owl-dots{
    color: var(--flamingo-orange);
}

.feedback-card{
    text-align: center;
    padding: 0 20px;
    color: var(--primary-grey);
}

.feedback-card .feedback-name{
    font-weight: bold;
}

/********** People Feedback css end here ************/



/**************************************
**** Most Viewed css start here **** 
**************************************/
.most-viewed-section{
    background-color: var(--bright-grey);
    padding: 40px 0;
}

.most-viewed-section .common-text{
    color: var(--white);
    margin-bottom: 0;
    font-size: 1em;
}

.most-viewed-divider{
    width: 120px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding:0.1px 0;
    background-color: var(--flamingo-orange);
}

.most-view-product{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
}

#most-view-carousel .owl-item img{
    width: 150px;
    height: 100px;
    object-position: center;
    object-fit: contain;
}

.most-view-product .product-detail{
    padding: 5px 10px;
}

.product-detail p{
    margin-bottom: 0.5em;
}

.product-detail p:first-child{
    font-weight: bold;
    font-size: 0.9em;
}

.product-detail i{
    padding-right: 23px;
    color: var(--primary-grey);
}

/********** Most Viewed css end here ************/



/**************************************
**** Footer section css start here **** 
**************************************/
.social-wrapper{
    text-align: center;
    padding: 20px 0;
    background-color: var(--desert-storm);
}

.social-container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.logo-container{
    border-radius: 50px;
    height: 56px;
    width: 56px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container i{
    font-size: 35px;
    color: var(--white);
}

.information-container{
    display: flex;
    padding: 2% 0;
    flex-wrap: wrap;
}

.information-link-container{
    width: 25%;
}

.information-link-container:not(:last-child){
    border-right: 1px solid lightgray;
}

.information-link-container:not(:first-child){
    padding-left: 2%;
}

.information-link-container hr{
    width: 15%;
    padding: 0.1px 0;
    background-color: var(--flamingo-orange);
}

.information-link-container:not(:last-child) a{
    display: block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-blue);
}

.information-link-container .newsletter-text{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-grey);
}

.information-link-container .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.information-link-container .input-group{
    max-width: 366px;
}

.agree-terms-checkbox{
    padding-top: 20px;
}

.bottom-footer-wrapper{
    background-color: var(--bright-grey);
    padding: 36px 0;
}

.bottom-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-grey);
}

.bottom-footer-container p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em;
}

.card-brands i{
    padding-right: 10px;
    font-size: 40px;
}
/********** Footer Section css end here ************/



/**************************************
**** Media Query css start here **** 
**************************************/
@media screen and (min-width:1800px) {
    .container{
        max-width: 1620px !important;
    }
}

@media screen and (max-width:1800px) and (min-width:1074px) {
    .container{
        max-width: 90vw;
    }
    
}

@media screen and (max-width:1074px) {
    .container{
        max-width: 966px;
    }
    
}

@media screen and (max-width:1400px) {
    .search{
        width: 35%;
    }
    
    .signup{
        width: 25%;
    }

    .signup-container{
        column-gap: 7px;
    }
}

@media screen and (max-width:1200px) {
    .desktop-view-header{
        display: none;
    }

    .mobile-view-header{
        display: block;
    }

    .carousel-caption h2{
        font-size: 34px;
    }

    .side-banner-text p{
        font-size: 1em;
    }

    .featured-category .fashion{
        width: 30%;
    }

    .featured-category .new-fashion{
        width: 70%;
    }
}

@media screen and (max-width:992px) {
    .side-up-banner{
        padding-bottom: 0;
        padding-top: 15px;
    }

    .featured-category .fashion{
        width: 40%;
    }

    .featured-category .new-fashion{
        width: 60%;
    }

    .information-container{
        row-gap: 30px;
    }

    .information-link-container{
        width: 50%;
        border-right: none !important;
    }

    .bottom-footer-container{
        flex-direction: column;
        row-gap: 15px;
    }
}

@media screen and (max-width:768px) {
    .featured-category-fashion{
        flex-direction: column;
        align-items: center;
    }

    .featured-category .fashion{
        width: 100%;
    }

    .fashion-img img{
        object-position: bottom;
        height: 350px;
    }

    .featured-category .new-fashion{
        width: 100%;
        margin-top: 5%;
    }

    .featured-products-card{
        width: 100%;
    }

    .btn-container{
        width: 100%;
    }

    .btn-container .btn{
        min-width: 50%;
    }

    .mv-menu i{
        font-size: 1.5em;
    }

    .common-heading{
        text-align: left;
    }
    
    .common-divider{
        margin-left: 0;
    }
    
    .common-desc{
        margin-left: 0;
        text-align: left;
        width: 100%;
    }

    .btn-container .btn:not(:last-child) {
        border-right: 0;
    }
}

@media screen and (max-width:660px) {
    .most-view-product{
        flex-direction: column;
        row-gap: 18px;
    }

    #most-view-carousel .owl-item img{
        margin: auto;
        height: 150px;
    }

    .product-detail p:first-child{
        font-size: 1em;
    }

    .logo-container{
        height: 50px;
        width: 50px;
    }

    .logo-container i{
        font-size: 25px;
    }
    
    .carousel-caption h2 {
        font-size: 28px;
    }
}

@media screen and (max-width:576px) {
    .mv-top-nav{
        font-size: 13px;
    }

    .information-link-container{
        width: 100%;
    }

    .logo-container{
        height: 40px;
        width: 40px;
    }

    .logo-container i{
        font-size: 20px;
    }

    .overlay-home-img{
        display: block;
    }
}

/********** Media Query css end here ************/
