*{
    margin: 0;
    padding: 0;
}

:root{
    --white:white;
    --primary-grey: #767575;
    --primary-blue:	#1C39BB;
    --sunglow:#ffcc33;
    --flamingo-orange:#e96630;
    --black:#000000;
    --desert-storm:#F8F8F8;
    --pale-gray:#FDFDFD;
    --porcelain:#EEF2F5;
    --Montserrat:Montserrat;
    --bright-grey:#3A4855;
    --light-grey:#D7DADF;
    --lapis-blue:#103A8E;
    --limed-spruce:#3A4855;
}

body{
    font-family: var(--Montserrat);
}


/********** Common class css start here **********/
.common-heading{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.common-divider{
    width: 5%;
    margin: auto;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.common-desc{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.btn-container{
    text-align: center;
    padding: 20px 0;
}

.btn-group .btn{
    font-weight: bold;
    padding: 10px 10px;
}

.btn-group .active{
    background-color: var(--primary-blue);
    color: var(--white);
}

.owl-carousel .owl-stage {
    display: flex;
}

.common-text{
    font-size: 1.5em;
    font-weight: bold;
}
/********** Common class css end here ************/



/**************************************
 **** Home Section css start here **** 
 **************************************/
.home{
    font-weight: bold;
}

/* Header container .top-nav css */
.dropdown{
    display: inline;
}

.top-nav a{
    text-decoration: none;
    color: var(--primary-grey);
}

.top-nav .currency{
    text-align: center;
}

.top-nav .delivery{
    text-align: right;
}

.top-nav-menu a{
    padding-right: 10px;
}

.currency .lang-dropdown{
    padding-right: 10px;
}

.delivery .mome-dropdown{
    padding-right: 10px;
}


/* Header container middel-nav css */
.middel-nav-wrapper{
    background-color: var(--desert-storm);
}

.middel-nav{
    padding: 20px 0;
}

.signup-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.signup-container p{
    font-size: 14px;
}

.signup-container i{
    font-size: 25px;
}

.middel-nav .cart{
    text-align: right;
}

.common-bg{
    background-color: var(--primary-blue);
    color: var(--white);
}

.logo h1{
    font-weight: 1000;
}

/* header section bottom-nav */
.bottom-nav-wrapper{
    background-color: var(--primary-blue);
}

.bottom-nav span{
    padding: 15px 15px;
    color: white;
    display: inline-block;
}

#menu-span-id{
    background-color: var(--sunglow);
    color: black;
}

#sale-span{
    background-color: var(--flamingo-orange);
    padding: 0px 5px;
    margin-left: 10px;
    bottom: 25px;
    position: relative;
}

#new-span{
    background-color: var(--sunglow);
    padding: 0px 5px;
    bottom: 30px;
    position: relative;
    right: 30px;
    color: black;
}

#megamenu-span{
    padding-right: 0px;
}

#fullwidth-span{
    padding-left: 0px;
}

.phone-number{
    text-align: end;
}

.phone-number span:last-child{
    background-color: var(--sunglow);
    color: var(--black);
}


/* home banner css */
.home-banner{
    background-color: var(--pale-gray);
    padding: 20px 0px;
}

.home-banner-c_inner{
    height: 100%;
    border-radius: 15px;
}

.home-banner-c_inner img{
    height: 500px;
    object-fit: contain;
    object-position: right;
}

.home-banner-c_item{
    background-color: var(--porcelain);
    height: 100%;
}

#myCarousel{
    height: 100%;
}

.carousel-indicators{
    justify-content: start;
    margin-left: 5%;
}

.carousel-indicators li{
    background-color: var(--flamingo-orange);
    height: 5px;
    width: 25px;
    border-radius: 11px;
}

.carousel-caption{
    left: 5%;
    text-align: left;
    font-family: var(--Montserrat);
    font-size: 3em;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.carousel-caption h2{
    color: var(--black);
    font-weight: bold;
    font-size: 42px;
}

.carousel-caption .btn-title{
    background-color: var(--primary-blue);
    color: var(--white);
}

.side-banner-img{
    width: 100%;
    text-align: end;
    position: relative;
    background-color: var(--porcelain);
    border-radius: 15px;
}

.side-banner-img img{
    height: 250px;
    object-fit: contain;
    object-position: right;
}

.side-banner-text{
    position: absolute;
    top: 50%;
    text-align: left !important;
    transform: translateY(-50%);
    width: 50%;
    left: 5%;
}

.side-banner-text p{
    font-weight: bold;
    font-size: 1.6em;
}

.side-up-banner{
    padding-bottom: 15px;
}

.side-down-banner{
    padding-top: 15px;
}


/* bottom bar css */
.home-bottom-bar{
    background-color: var(--bright-grey);
    padding: 40px 0;
}

.bottom-bar-element{
    display: flex;
    align-items: center;
    height: 90px;
}

.element-icon{
    width: 90px;
    height: 100%;
    border: 2px solid var(--primary-blue);
    border-radius: 50px;
    color: var(--flamingo-orange);
}

.element-icon-container{
    height: 100%;
    position: relative;
}

.element-icon-container i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.element-text{
    padding-left: 15px;
}

.element-text p:first-child{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.element-text p:last-child{
    margin: 0;
    color: var(--primary-grey);
    font-weight: bold;
}
/********** Home section css end here ************/



/**************************************
 **** Why Buy section css start here **** 
 **************************************/
.why-buy{
    padding: 70px 0;
}

/* why buy owl carousel css */
.top-category{
    padding: 20px 0;
}

#top-category-carousel .owl-item img{
    width: 95%;
    height: 400px;
    object-position: center;
    border-radius: 10px;
    object-fit: cover;
}

.top-category-item{
    position: relative;
}

.top-category-btn{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.top-category-btn .btn{
    background-color: var(--pale-gray);
    color: var(--black);
    font-weight: bold;
}

/********** Why Buy section css end here ************/


/**************************************
**** Featured Product section css start here **** 
**************************************/
.featured-products{
   background-color: var(--desert-storm);
   padding: 70px 0;
}

#featured-product-carousel .owl-item img{
    width: 95%;
    height: 400px;
    object-position: center;
    border-radius: 10px;
    object-fit: contain;
}

.featured-products-card{
   height: 600px;
   width: 95%;
}

.fp-card-img{
   height: 60%;
   width: 100%;
   background-color: var(--white);
}

.fp-card-img img{
   width: 100%;
   object-fit: contain;
   object-position: center;
}

.fp-seller{
   height: 10%;
   width: 100%;
   background-color: var(--porcelain);
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   align-items: center;
}

.fp-details{
    height: 20%;
    width: 100%;
    background-color: var(--white);
    padding: 0 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.fp-button{
    display: flex;
    justify-content: space-between;
}

.fp-add-cart .btn{
    background-color: var(--primary-blue);
    color: var(--white);
}

.fp-wishlist i{
    color: var(--primary-grey);
}

.fp-wishlist a:first-child{
    padding-right: 15px;
}

.fp-buy-now{
    height: 10%;
    width: 100%;
    background-color: var(--porcelain);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fp-buy-now a:first-child i{
    border: 0.8px solid green;
    border-radius: 5px;
    color: green;
}

.fp-buy-now a:last-child i{
    color: red;
}

.featured-products .see-all-container{
    text-align: center;
    padding-top: 20px;
}

.featured-products .see-all{
    background-color: var(--primary-blue);
    color: var(--white);
}


/********** Featured Products section css end here ************/


/****************************************
*Featured Category section css start here* 
******************************************/

.featured-category{
    background-color: var(--porcelain);
    padding: 70px 0;
}

.featured-category-fashion{
    height: 550px;
    display: flex;
    padding-top: 30px;
    font-weight: bold;
}

.featured-category .fashion{
    width: 20%;
    background-color: var(--light-grey);
}

.fashion-wrapper{
    padding: 20px;
    height: 100%;
}

.fashion-img{
    height: 50%;
}

.fashion-img img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}


.featured-category .new-fashion{
    width: 80%;
    background-color: var(--white);
}

.new-fashion-wrapper{
    padding: 20px;
    height: 100%;
}

.new-fashion-text{
    height: 14%;
}

.new-fashion-card-wrapper{
    height: 90%;
}

.new-fashion-card{
    padding: 5px;
    height: 100%;
    border: 1px solid lightgrey;
}

.new-fashion-img{
    height: 60%;
}

.new-fashion-card-content{
    height: 40%;
}

.new-fashion-btn{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#new-fashion-carousel .owl-item img{
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
}

#new-fashion-carousel .item{
    padding-right: 10px;
}

.new-fashion-card-content p:first-child{
    color: var(--primary-blue);
    padding-top: 5px;
}

.new-fashion-btn .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
    padding: 0 5px;
}

.new-fashion-btn a{
    color: var(--primary-grey);
}

.new-fashion-btn a:first-child{
    padding-right: 15px;
}

.fashion hr{
    width: 35%;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.new-fashion .new-fashion-divider{
    width: 5%;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}
/********** Featured Category section css end here ************/



/**************************************
 **** Shop By Brand css start here **** 
 **************************************/
.shop-by-brand{
    padding: 70px 0;
}

#shop-brand-carousel .owl-item img{
    width: 100%;
    height: 160px;
    object-position: center;
    border-radius: 10px;
    object-fit: contain;
}

#shop-brand-carousel{
    padding-top: 40px;
}

#shop-brand-carousel .item{
    padding: 0 8px;
}

.shop-brand-img{
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

/********** Shop By Brand css end here ************/


/**************************************
**** Gallery Module css start here **** 
**************************************/
.gallery-module{
    padding: 70px 0;
    background-color: var(--bright-grey);
    color: white;
}

.gallery-module .common-desc{
    color: var(--primary-grey);
    font-weight: bold;
}

.gallery-container{
    display: flex;
    padding-top: 40px;
}

.gallery-img{
    height: 160px;
    width: 100%;
    padding: 0 10px;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

/********** Gallery Module css end here ************


/**************************************
**** From Our Blog css start here **** 
**************************************/
.our-blog{
    padding:70px 0;
    background-color: var(--porcelain);
}

#our-blog-cards{
    padding-top: 40px;
}

#our-blog-cards .owl-item img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.blog-card-wrapper{
    height: 600px;
    padding: 0 10px;
}

.blog-card-header{
    height: 50%;
    position: relative;
}


.blog-card-header p{
    position: absolute;
    top: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 56px;
    left: 5px;
    background-color: var(--lapis-blue);
    color: white;
}

.blog-card-header .blog-card-button{
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    background-color: white;
    text-align: center;
    width: 100%;
}

.blog-card-button span{
    padding: 0 10px;
}

.blog-card-container{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.blog-card-content{
    background-color: var(--white);
    text-align: center;
    padding: 0 15px;
    height: 50%;
}

.blog-card-content p:first-child{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
}
/********** From Our Blog css end here ************


/**************************************
**** People Feedback css start here **** 
**************************************/
.feedback-section{
    padding: 70px 0 30px 0;
}

#feedback-carousel .owl-item img{
    width: 20%;
    margin: auto;
}

#feedback-carousel{
    padding-top: 40px;
}

#feedback-carousel .owl-dots{
    padding-top: 40px;
}

.owl-dots{
    color: var(--flamingo-orange);
}

.feedback-card{
    text-align: center;
    padding: 0 20px;
}

/********** People Feedback css end here ************/


/**************************************
**** Most Viewed css start here **** 
**************************************/
.most-viewed-section{
    background-color: var(--bright-grey);
    padding: 50px 0;
}

.most-viewed-divider{
    width: 10%;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.most-view-product-container{
    display: flex;
    justify-content: space-between;
}

.most-view-product{
    height: 110px;
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
    width: 24%;
}

.product-img img{
    object-position: center;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.most-view-product .product-detail{
    padding: 5px 10px 0 10px;
}

.product-detail p:first-child{
    font-weight: bold;
}

.product-detail i{
    padding-right: 15px;
}

/********** Most Viewed css end here ************/


/**************************************
**** Footer section css start here **** 
**************************************/
.social-wrapper{
    text-align: center;
    padding: 20px 0;
    background-color: var(--desert-storm);
}

.information-container{
    display: flex;
    padding: 2% 0;
}

.information-link-container{
    width: 25%;
}

.information-link-container:not(:last-child){
    border-right: 1px solid lightgray;
}

.information-link-container:not(:first-child){
    padding-left: 2%;
}

.information-link-container hr{
    width: 15%;
    padding: 1px 0;
    background-color: var(--flamingo-orange);
}

.information-link-container:not(:last-child) a{
    display: block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-blue);
}

.information-link-container .newsletter-text{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-grey);
}

.information-link-container .btn{
    background-color: var(--lapis-blue);
    color: var(--white);
}

.agree-terms-checkbox{
    padding-top: 20px;
}

.bottom-footer-wrapper{
    background-color: var(--bright-grey);
    padding: 36px 0;
}

.bottom-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-grey);
}

.bottom-footer-container p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em;
}

.card-brands i{
    padding-right: 10px;
    font-size: 40px;
}
/********** Footer Section css end here ************/


/********** Media Screen css start here **********/
@media screen and (min-width:1800px) {
    .container{
        max-width: 1620px !important;
    }
}

@media screen and (max-width:1800px) and (min-width:1074px) {
    .container{
        max-width: 90vw;
    }
    
}

@media screen and (max-width:1074px) {
    .container{
        max-width: 966px;
    }
    
}

/********** Media Screen css end here ************/
